@model Order

<h2>Check out now</h2>
<p>Please enter your details</p>

<div asp-validation-summary="All" class="text-danger"></div>

<script>
    
    

function beforeValid() {
    const form = document.getElementById("form");

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        validateAll();
        
    });
    
}

    function validateAll(){
        const name = document.getElementById("name");
        const surname = document.getElementById("surname");
        const phoneNumber = document.getElementById("phoneNumber");
        const street =document.getElementById("street");
        const apartmentNumber = document.getElementById("apartmentNumber");
        const city = document.getElementById("city");
        const zipCode = document.getElementById("zipCode");
        const country = document.getElementById("country");
        const pr = /^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{3})$/;
        const zcr = /^\(?(\d{2})\)?[- ]?(\d{3})$/;

        

        if (name.value === "") {
            name.style.borderColor = "red";
            document.getElementById("nameError").innerText = "Name input cannot be empty";
            document.getElementById("nameError").style.color = "red";
        }else{
            document.getElementById("nameError").innerText = "";
            name.style.borderColor = "green";
        }
        if (surname.value === "") {
            surname.style.borderColor = "red";
            document.getElementById("surnameError").innerText = "Surname input cannot be empty";
            document.getElementById("surnameError").style.color = "red";
        }else{
            document.getElementById("surnameError").innerText = "";
            surname.style.borderColor = "green";
        }
        if (street.value === "") {
            street.style.borderColor = "red";
            document.getElementById("streetError").innerText = "Street input cannot be empty";
            document.getElementById("streetError").style.color = "red";
        }else{
            document.getElementById("streetError").innerText = "";
            street.style.borderColor = "green";
        }
        if (city.value === "") {
            city.style.borderColor = "red";
            document.getElementById("cityError").innerText = "City input cannot be empty";
            document.getElementById("cityError").style.color = "red";
        }else{
            document.getElementById("cityError").innerText = "";
            city.style.borderColor = "green";
        }
        if (country.value === "") {
            country.style.borderColor = "red";
            document.getElementById("countryError").innerText = "Counrty input cannot be empty";
            document.getElementById("countryError").style.color = "red";
        }else{
            document.getElementById("countryError").innerText = "";
            country.style.borderColor = "green";
        }
        if (apartmentNumber.value === ""){
            apartmentNumber.style.borderColor = "red";
            document.getElementById("apartmentError").innerText = "Apartment number input cannot be empty";
            document.getElementById("apartmentError").style.color = "red";
        }else{
            document.getElementById("apartmentError").innerText = "";
            apartmentNumber.style.borderColor = "green";
        }
        if (phoneNumber.value === "") {
            phoneNumber.style.borderColor = "red";
            document.getElementById("phoneNumberError").innerText = "Phone number input cannot be empty";
            document.getElementById("phoneNumberError").style.color = "red";
        } else if (!pr.test(document.getElementById("phoneNumber").value)) {
            phoneNumber.style.borderColor = "red";
            document.getElementById("phoneNumberError").innerText = "Provide valid phone number";
            document.getElementById("phoneNumberError").style.color = "red";
        }
        else{
            document.getElementById("phoneNumberError").innerText = "";
            phoneNumber.style.borderColor = "green";
        }
         if (zipCode.value === ""){
            zipCode.style.borderColor = "red";
            document.getElementById("zipCodeError").innerText = "Zip code input cannot be empty";
            document.getElementById("zipCodeError").style.color = "red";
        }else if(!zcr.test(zipCode.value)){
            zipCode.style.borderColor = "red";
            document.getElementById("zipCodeError").innerText = "Provide valid zip code";
            document.getElementById("zipCodeError").style.color = "red";
        }
        else{
            document.getElementById("zipCodeError").innerText = "";
            zipCode.style.borderColor = "green";
        }
        if (zipCode.style.borderColor === "green" && phoneNumber.style.borderColor === "green" && name.style.borderColor === "green" && surname.style.borderColor === "green" && street.style.borderColor === "green" && city.style.borderColor === "green" && country.style.borderColor === "green" && apartmentNumber.style.borderColor === "green") {
            this.form.submit();
        }
    }
</script>

<form asp-action="Checkout" method="post" id="form" class="form">
    <h3>Ship to</h3>
    <div class="form-group">
        <label>Name:</label><input asp-for="Name" class="form-control" id="name" />
        <small id="nameError"></small>
    </div>
    <div class="form-group">
        <label>Surname:</label><input asp-for="Surname" class="form-control" id="surname"/>
        <small id="surnameError"></small>
    </div>
    <div class="form-group">
        <label>Phone number:</label><input asp-for="PhoneNumber" class="form-control" id="phoneNumber"/>
        <small id="phoneNumberError"></small>
    </div>
    <h3>Address</h3>
    <div class="form-group">
        <label>Street:</label><input asp-for="Street" class="form-control" id="street"/>
        <small id="streetError"></small>
    </div>
    <div class="form-group">
        <label>Apartment number:</label><input asp-for="ApartmentNumber" type="number" class="form-control" id="apartmentNumber"/>
        <small id="apartmentError"></small>
    </div>
    <div class="form-group">
        <label>City:</label><input asp-for="City" class="form-control" id="city"/>
        <small id="cityError"></small>
    </div>
    <div class="form-group">
        <label>Zip:</label><input asp-for="Zip" class="form-control" id="zipCode"/>
        <small id="zipCodeError"></small>
    </div>
    <div class="form-group">
        <label>Country:</label><input asp-for="Country" class="form-control" id="country"/>
        <small id="countryError"></small>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit"  value="Complete Order" onclick="beforeValid()"/>
    </div>
</form>