@{
    ViewBag.Title = "DarkLayoutPage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>DarkLayoutPage</h2>
Hello CompShop Appliation. I am in RenderBody section because there is no named section for me.